@font-face {
    font-family: 'Gilam Black DEMO';
    src: url('../fonts/Gilam-Trial-Regular.eot');
    src: local('Gilam'), local('Gilam'),
        url('../fonts/Gilam-Trial-Regular.otf') format('embedded-opentype'),
        url('../fonts/Gilam-Trial-Regular.woff2') format('woff2'),
        url('../fonts/Gilam-Trial-Regular.woff') format('woff'),
        url('../fonts/Gilam-Trial-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
        url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Gilam Black DEMO', sans-serif;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

.header {
    padding-top: 37px;
    padding-bottom: 20px;
    background: url(../img/header-bg.jpeg) no-repeat 100%/cover;

    background-attachment: fixed;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-button {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid #E4B564;
}

.header-button-logo {
    padding-left: 25px;
    padding-right: 8px;
}

.header-button-btn {
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    text-decoration: none;
    padding: 10px 25px 10px 0;
}

.heating_network {
    padding-bottom: 30px;
    padding-top: 100px;
    background: url(../img/header-bg.jpeg) no-repeat 100%/cover;
    background-attachment: fixed;
}

.heating_network-title {
    margin: 0;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.heating_network-descr {
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.heating_network-wrap {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    grid-column-gap: 25px;
    grid-row-gap: 27px;
}

.heating_network-item1 {
    grid-area: 1 / 1 / 2 / 3;
    background: #634F2C;
}

.heating_network-item2 {
    grid-area: 1 / 3 / 2 / 5;
    background: #B4A385;
}

.heating_network-item3 {
    grid-area: 1 / 5 / 2 / 7;
    background: #E4B564;
}

.heating_network-item4 {
    grid-area: 2 / 1 / 3 / 4;
    background: #635A4A;
}

.heating_network-item5 {
    grid-area: 2 / 4 / 3 / 7;
    background: #B08C4D;
}

.heating_network-text {
    width: 380px;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.heating_network-item {
    display: flex;
    height: 468px;
    justify-content: center;
    align-items: center;
}

.machinery {
    padding-top: 161px;
    padding-bottom: 30px;
    background: url(../img/parallax-bg.jpeg) no-repeat 100%/cover;
    background-attachment: fixed;
}

.machinery-title {
    margin: 0;
    font-size: 50px;
    color: #FFFFFF;
    padding-bottom: 94px;
}

.machinery-item-descr {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 52px;
}

.machinery-item-descr span {
    font-weight: 900;
}

.descr5,
.descr6,
.descr7 {
    padding-left: 48px;
}

.descr2 {
    padding-top: 56px;
}

.descr4 {
    padding-top: 47px;
}

.machinery-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.machinery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 897px;
}

.machinery-wrapper:nth-child(2) {
    height: 877px;
}

.machinery-item1 {
    height: 313px;
    background-color: #0E0E0E;
}

.machinery-item2 {
    height: 560px;
    background-color: #1F1F1F;
}

.machinery-item3 {
    background-color: #242424;
    height: 439px;
}

.machinery-item4 {
    background-color: #E4B564;
    height: 405px;
}

.machinery-item5 {
    background-color: #1F1F1F;
    height: 255px;
}

.machinery-item6 {
    background-color: #0E0E0E;
    height: 313px;
}

.machinery-item7 {
    background-color: #0A0909;
    height: 277px;
}

.project {
    padding-top: 161px;
    padding-bottom: 238px;
    background: url(../img/header-bg.jpeg) no-repeat 100%/cover;
    background-attachment: fixed;
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 94px;
}

.project-btn {
    padding: 10px 40px 10px 40px;
    background-color: #0E0E0E;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    cursor: pointer;
}

.project-title {
    font-size: 50px;
    color: #FFFFFF;
    margin: 0;
}

.project-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
}

.project-wrap-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-descr {
    margin: 0;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.item1 {
    background-color: #634F2C;
}

.item2 {
    background-color: rgba(232, 210, 171, 0.76);
}

.item3 {
    background-color: #E4B564;
}

.item4 {
    background-color: #635A4A;
}

.item5 {
    background-color: #B08C4D;
    ;
}

.item6 {
    background-color: #634F2C;
}